body {
	background-color: #18B332;
	color: #E87B8F;
	font-family: 'Lato', serif;
	font-weight: 100;
}
rect {
	stroke: #92FFA4;
}
text {
	stroke-width: 0.8;
	text-anchor: start;
	dominant-baseline: hanging;
	font-weight: 100;
	letter-spacing: 3;
}
.incircle {
	stroke-width: 0.8;
	text-anchor: middle;
	dominant-baseline: alphabetic;
	baseline-shift: 45%;
	font-weight: 100;
	letter-spacing: 3;
}
.bordered-link {
    display: inline-block;
    padding: 8px;
    border: 1px solid #92FFA4;
    border-radius: 6px;
    box-shadow: 
        0 2px 1px rgba(0, 0, 0, 0.2), 
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    /* Font styles */
    text-decoration: none;
    font-size: 20px;
	font-family: 'Lato', serif;
	font-weight: 300;
    color: #222;
	cursor: pointer;
}

.bordered-link:hover {
    border-color: #FDD68B;
	background-color: #92FFA4;
}

.bordered-link:active {
    border-color: #FEE8BD;
}

.bordered-paragraph {
    display: inline-block;
    padding: 8px;
    border: 1px solid #92FFA4;
    border-radius: 6px;
    box-shadow: 
        0 2px 1px rgba(0, 0, 0, 0.2), 
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
    /* Font styles */
    text-decoration: none;
    font-size: 20px;
	font-family: 'Lato', serif;
	font-weight: 300;
    color: #222;
	background-color: #18B332;
	cursor: pointer;
}
.bordered-paragraph:hover {
    border-color: #FDD68B;
	background-color: #92FFA4;
}

.comments {
	position: relative;
    display: inline-block;
    padding: 8px;
    border: 1px dashed #92FFA4;
    border-radius: 6px;
	font-size: 20px;
	left: 70px;
	font-family: 'Lato', serif;
	font-weight: 300;
    color: #222;
	background-color: #92FFA4
}

p { margin-top: 0.1em; }

.logobox {
	position:fixed;
	display: inline-block;
	padding: 8px;
	border: 2px solid #0DFF6D;
	border-radius: 16px;
    box-shadow: 
        0 2px 1px rgba(0, 0, 0, 0.2), 
        inset 0 2px 1px rgba(0, 0, 0, 0.2);
	/* width: 400px; */
	/* bottom: 100px; */
	/* rigth: 20px; */
	/* left:800px; */
}

.logo {
	font-size: 60px;
	font-weight: 300;
	height: 10px;
	color: #0DFF6D;
}

.subtitles {
	font-size: 18px;
	font-family: 'Lato', serif;
	font-weight: 300;
	color: #0DFF6D;
}
